.thinTable {
    margin-bottom: 0px;
}

.pagination {
    margin-top: 0px;
}

.noBottomPadding {
    padding-bottom: 0px;
}

#costPerWeekTable tr {
    cursor: pointer;
}

.noPadding {
    padding: 0 0 0 0;
}

#purchasePeriodSelector {
    width: 15%;
    position: relative;
    top: -7px;
}