body {
    background-image: url("/images/bg2.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    overflow: hidden;
}

dt {
    padding-top: 10px;
}

.zend_form {
    margin-bottom: 0;
}

.forgotPassword {
    text-align: right;
    font-size: 12px;
    margin-top: 2px;
}

.forgotPassword a {
    color: white;
}

.navbar.navbar-inverse, .announcement, .navbar-stripe {
    z-index: 100000000;
}

.announcement, .navbar-stripe {
  position: relative;
}
