body {
    background-image: url("/images/bg2.jpg");
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    overflow: hidden;
}

dt {
    padding-top: 2px;
    font-weight:0px;
    line-height: 5px;
}

.well {
    margin-top: 15%;
}

.well .title {
    margin-top: 10px;
    margin-bottom: 20px;
}

#signup-element {
    text-align: center;
}

#signup-element input {
    width: 100px;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 992px) {
    .well {
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 5%;
    }
}