#newWorkout {
    background: url(../../images/engage/fitness.png);
}

#oldWorkout {
    background: url(../../images/engage/purchase.png);
}

.workout {
    border-radius: 8px;
    border: 1px solid black;
    background-size: cover;
    height: 100%;
    margin-right: 10px;
    margin-left: 10px;
}

.fitnessTitle h1 {
    margin-top: 0;
}

.workoutContainer {
    cursor: pointer;
}

.workoutContainer.first {
    margin-bottom: 10px;
}

.workoutContainer .panel {
    margin-bottom: 0;
}

.workoutContainer a,
.workoutContainer a:hover,
.workoutContainer a:focus,
.workoutContainer a:visited {
    color: white;
    font-size: 24px;
    text-decoration: none;
}