#setAddButton {
    margin-top: 10px;
}

.compare .title {
    font-weight: bold;
    font-size: 16px;
}

.table>tbody>tr>td {
    padding-top: 4px;
    padding-bottom: 4px;
}

.weight, .reps {
    font-size: 18px;
}
