#suppressionDisplay hr {
    margin-bottom: 10px;
}

#confirmSave {
    font-size: 11px;
    font-weight: 100;
}

.actionBar td {
    border-top-width: 0px !important;
    padding-bottom: 15px !important;
    padding-top: 2px !important;
}

.sirenContainer table {
    margin-bottom: 0px;
}

.deactive {
    color: #CCCCCC;
}

.panel-title {
    font-weight: bold;
}