.navigationBar .active {
    font-size: 20px;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.navigationBar, #siren {
    padding-left: 10px;
    padding-right: 10px;
}

@media only screen and (min-width: 768px) {
    /* Make Navigation Toggle on Desktop Hover */
    .dropdown:hover .dropdown-menu {
        display: block;
    }
}

.b_padding_0 {
    padding-bottom: 0 !important;
}

.b_margin_10 {
    margin-bottom: 10px;
}

.t_margin_10 {
    margin-top: 10px;
}

.b_margin_5 {
    margin-bottom: 5px;
}

.r_margin_5 {
    margin-right: 5px;
}

.r_margin_15 {
    margin-right: 15px;
}

.right {
    float: right;
}

.glyphicon {
    font-size: 24px;
}

.glyphicon-20 {
    font-size: 20px;
}

.glyphicon-small {
    font-size: 16px;
}

.glyphicon-14 {
    font-size: 14px;
}

.cPointer {
    cursor: pointer;
}

.loading {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.glyphicon {
    cursor: pointer;
}

.panel > .panel-collapse > .list-group .list-group-item {
    border-width: 1px 0;
    border-radius: 0;
    border-bottom: none;
}

.panel > .panel-collapse > .list-group {
    margin-bottom: 0;
}

.clear {
    clear:both;
}

.table thead tr td {
    font-weight: bold;
}