.unresolvedTitle {
    width: 200px;
}

.border-container .title {
    top: -10px;
}

.border-container {
    padding-top: 0;
}

.mw50 {
    max-width: 50px ;
}

.mw100 {
    max-width: 100px;
}

.form-control-smaller {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 3px;
    padding-right: 3px;
}

.form-group {
    margin-bottom: 0 !important;
}

.fa-caret-down {
    font-size: 18px;
    cursor: pointer;
}

.fa-caret-up {
    font-size: 18px;
    cursor: pointer;
}

.selectedCaret {
    color: #FFB347;
}


@media (max-width: 514px) {
    .fa-caret-up,
    .fa-caret-down {
        display: none;
    }
}

.mw130 {
    min-width: 130px;
}