.col-md-6,
.col-md-12 {
    padding-bottom: 10px;
}

.noBtmMargin {
    padding-bottom: 0;
}

.page-header, h3 {
    margin-top: 0;
    margin-bottom: 0;
}

input[type=submit],
input[type=button] {
    float: right;
}

.appLink {
    font-size: 15px;
    float: right;
}

h3 {
    font-family: 'GillSans', Arial;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 18px;
    padding: 0;
    margin: 0;
    font-weight: normal;
}

#setupCont {
    font-family: 'OpenSans', Arial, Helvetica, Verdana, sans-serif;
}

@media only screen and (max-width: 991px){
    .mobile-md-12 {
        padding-right: 0;
        padding-left: 0;
    }

    .col-md-9.noPad {
        padding-top: 15px;
        padding-left: 15px;
        padding-right: 5px;
    }
}

#setupCont #setupLeft {
    border: 1px solid #cccccc;
    padding: 5px;
    margin-right: 10px;
}

#setupCont .h3Cont {
    background-color: #333333;
    line-height: 35px;
    padding: 8px 8px 8px 8px;
}

#setupCont h3 {
    margin: 0;
    font-size: 16px;
}

#setupCont #setupLeft ul {
    list-style-type: none;
    margin: 8px 0;
    padding-left: 0;
}

#setupCont #setupLeft ul li {
    border: 2px solid #ffffff;
    margin-top: 2px;
    padding: 5px;
}

#setupCont #setupLeft ul li a {
    display: block;
    text-decoration: none;
    color: #0954a8;
}

#setupCont #setupLeft ul li.optSelected {
    background: none repeat scroll 0 0 #ddf4fb;
    border: 2px solid #c6edf9;
}

#setupCont #setupLeft ul li:hover {
    background: none repeat scroll 0 0 #ddf4fb;
    border: 2px solid #c6edf9;
}

.noRightPad {
    padding-right: 5px;
}

.noPad {
    padding-left: 5px;
    padding-right: 5px;
}

#setupLeft .innerContainer {
    padding: 10px;
    overflow: hidden;
}

.req {
    color: red;
}

.btn-right {
    float: right;
}

.redBorder {
    border-color: #A94442;
}

.redBorder:focus {
  border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
}