.containingRow {
    margin-top: 10px;
}

.row.topBar {
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 10px;
}

.topBar .title {
    margin-top: 5px;
    margin-bottom: 5px;
    word-wrap: break-word;
    max-width: 100%;
}

.topBar .owner {
    font-size: 16px;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.topBar .yourRating {
    font-size: 14px;
    float: right;
}

.topBar .rating {
    font-size: 28px;
    float: right;
}

.thumbnail {
    padding: 5px;
    max-height: 660px;
    max-width: 654px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
}

.omitted {
    margin-bottom: 15px;
    font-size: 11px;
    text-align: center;
}

.shareThisRoute {
    margin-top: 10px;
}

.shareIcons {
    font-size: 28px;
}

tr td:first-child {
    font-weight: bold;
}

.commentBox {
    margin-top: 10px;
}

.streamElements {
    margin-top: 20px;
}

.streamElements .elements {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    overflow: auto;
    width: 100%;
}

.streamElement {
    margin-bottom: 10px;
}

.btnLink button {
    margin-bottom: 5px;
}

.commentAction .fa {
    cursor: pointer;
}

#commentReportMessage,
#routeReportMessage {
    margin-top: 10px;
}

.starSelected {
    color: #FFB347;
}

.reportSelected,
.deleteSelected {
    color: #FF6961;
}

.yourRating .fa-star-o,
.yourRating .fa-star {
    font-size: 18px;
    cursor: pointer;
}

.clearBtn {
    font-size: 13px;
    cursor: pointer;
}

.clearBtn:hover .fa {
    color: #FF6961;
}

.bmButton {
    cursor: pointer;
}

#reportRoute:hover .fa {
    color: #FF6961;
}

#reportRoute {
    cursor: pointer;
    font-size: 14px;
}

#filterComments {
    font-weight: normal;
}

.border-container .routestatsTitle {
    width: 119px;
}

.border-container .routedetailTitle {
    width: 133px;
}

.border-container .routessTitle {
    width: 136px;
}

.border-container {
    padding-top: 0;
}

.border-container .title {
    top: -10px;
}

.stats .fa-code-fork {
    margin-right: 5px;
}

.shareThisRoute .bold {
    padding-bottom: 10px;
}

.shareThisRoute {
    padding-bottom: 5px;
}

.dropdown-toggle {
    margin-bottom: 5px;
}