.searchtermsTitle {
    width: 135px;
}

.searchTermContainer {
    margin-top: 20px;
    padding-bottom: 0px;
}

#end_address {
    margin-top: 5px;
    margin-bottom: 20px;
}

.searchTermBody form {
    top: -10px;
    position: relative;
}

#submit_search {
    margin-top: 20px;
}

.readMore,
.readLess {
    text-decoration: underline;
    cursor: pointer;
    font-size: 12px;
    color: #0078A8;
}

#end_address_1 {
    margin-top: 5px;
    margin-bottom: 10px;
}

.searchTermBody {
    position: relative;
    top: -5px;
}

#max_dist {
    margin-bottom: 10px;
}

.searchButton {
    text-align: center;
    margin-top: 20px;
}