td {
    max-width: 14%;
    min-width: 14%;
}

tr {
    line-height: 120px !important;
    min-height: 120px !important;
    height: 120px !important;
}

thead tr {
    line-height: 10px !important;
    min-height: 10px !important;
    height: 10px !important;
}

.monthHeader {
    margin-left: 40%;
}

.selected {
    font-weight: bold;
    font-size: 36px;
}

.event {
    background-color: green;
}

.deadline {
    background-color: red;
}

.today {
    background-color: #d3d3d3;
}
