.border-container .yourStatsTitle {
    width: 110px;
}

.border-container .routesTitle {
    width: 104px;
}

.border-container .savedRoutesTitle {
    width: 156px;
}

.fa-minus-square,
.fa-plus-square {
    margin-left: 10px;
    cursor: pointer;
}

@media (max-width: 991px) {
    .border-container img {
        max-height: 250px;
    }
}

.user-detail-list .username {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFB347;
}

.user-detail-list .fa-map-marker {
    margin-right: 6px;
}

.user-detail-list .border-container {
    padding-bottom: 0;
    margin-top: 25px;
}

.user-detail-list .user-stats {
    position: relative;
    top: -17px;
}

.user-detail-list .username {
    margin-left: -15px;
    margin-right: -15px;
}

.fa.fa-code-fork {
    padding-right: 2px;
    padding-left: 2px;
}

.stars-align {
    margin-bottom: 5px;
}
