.tab-pane {
    padding-top: 5px;
}

.thin {
    padding: 2px 6px 2px 6px;
}

.semesterName {
    text-align: center;
    font-size: 24px;
    margin-bottom: 5px;
}

table > tbody > tr.thinRow > td {
    padding-top: 2px;
    padding-bottom: 2px;
}

#summary {
    padding-top: 10px;
}

.noTopBorder td {
    border-top: none !important;
}

.panel-heading {
    font-size: 18px;
}

.semesterModules .panel-body {
    padding-bottom: 0;
}

.moduleForm .col-sm-6,
.moduleForm .col-sm-12,
.assessmentForm .col-sm-6,
.assessmentForm .col-sm-12 {
    padding-bottom: 15px;
}

.moduleModificationButtons .glyphicon {
    font-size: 18px;
    cursor: pointer;
    padding-left: 5px;
}

.moduleModificationButtons a {
    color: inherit;
}

#deletionModal .buttons {
    padding-top: 10px;
}

#deletionModal .content {
    padding-top: 15px;
}

#deletionModal .content .text {
    padding-bottom: 15px;
}

#deletionModal {
    height: 150px;
}

.input-group-addon .glyphicon {
    font-size: 18px;
    cursor: pointer;
}

.moduleDetails {
    display: none;
}

.moduleShowDetails {
    float: left;
    top: 0;
    position: relative;
}

.moduleShowDetails .glyphicon {
    font-size: 18px;
}

.moduleDetails .name {
    font-weight: bold;
}

.moduleDetails .col-md-12.name {
    padding-bottom: 5px;
    border-bottom: 1px solid #CCCCCC;
    margin-bottom: 10px;
}

.moduleDetails {
    border-bottom: 1px solid #CCCCCC;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

@media (max-width: 360px) {
    .col-md-4.semester {
        padding-left: 0;
        padding-right: 0;
    }
}

.contributionContainer .title {
    font-weight: bold;
    font-size: 16px;
}

.contributionContainer .contribution {
    font-size: 28px;
}

.degreeMark {
    padding-top: 29px;
    font-size: 64px;
}

.degreeResult {
    font-size: 28px;
}

.degreeResultsContainer {
    height: 230px;
}

.noNavTabFocus:focus {
    outline: none;
    background-color: #FFF !important;
    color: #428BCA;
    border-bottom: 1px solid #DDDDDD;
}

.assessmentRow .glyphicon {
    font-size: 16px;
    margin-top: 10px;
}

.refreshReminder {
    font-weight: bold;
    font-size: 12px;
}